.loader {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100vh; /* Chiếm toàn bộ chiều cao của màn hình */
  position: absolute;
  width: 100%;
}

.spinner {
  border: 4px solid #f3f3f3; /* Màu nền của vòng tròn */
  border-top: 4px solid #3498db; /* Màu của vòng tròn quay */
  border-radius: 50%; /* Làm cho vòng tròn tròn */
  width: 50px; /* Đặt kích thước */
  height: 50px;
  animation: spin 2s linear infinite; /* Quay vòng tròn */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
